
.paral
{
	position: relative;
}

.paral h1
{
	position: absolute;
	z-index: 1;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 text-align: center;
	font-size: 100px; 
	color: white ; 
	font-family:'heeboregular'; 
	font-weight: bold;;

}
.contrainer_paral
{
	max-height: 960px;
	margin: 0 auto;
	font-size: 25px;
	padding: 25px;
}



.parallax
{
	min-height: 500px;
	background: transparent;
	padding: 110px;
	margin: 0px 0px 150px 0px;
}

.article
{
	display: flex;
	margin: 60px;

}

.article img
{
	width: 500px;
	margin-right: 130px;
}

.article_texte button 
{
	background-color: #374C9F;
	color: white;
	padding: 10px 50px;
	text-decoration: none;
	border: none;

}

.article2
{
	display: flex;
	margin: 60px;
	flex-direction: row-reverse

}

.article2 img
{
	width: 500px;
	margin-left: 130px;
}

.article_texte2 button 
{
	background-color: #374C9F;
	color: white;
	padding: 10px 50px;
	text-decoration: none;
	border: none;

}